<div class="container2">
    <h1 class="title2">Cadastrar Livro</h1>
    <form action="/books/insertbook" method="post" class="formulario">
        <span class="tituloCadastro">Titulo do Livro:</span>
        <input class="inputLivro" type="text" placeholder="Digite o nome do livro...">

        <span class="tituloCadastro">Categoria do livro:</span>
        <input class="inputLivro" type="text" placeholder="Digite a categoria do livro...">

        <span class="tituloCadastro">Descrição do Livro:</span>
        <input class="inputLivroDesc" type="text" placeholder="Digite a descrição do livro...">

        <div class="sep1">
            <section class="sep">
                <span class="tituloCadastro">Preço do Livro:</span>
                <input class="inputSep" type="text" placeholder=" R$50,00">
            </section>

            <section class="sep">
                <span class="tituloCadastro">Quantidade Disponível:</span>
                <input class="inputSep" type="text" placeholder="60">
            </section>
        </div>

        <input class="cadastroBtn" type="submit" value="Cadastrar">
    </form>
</div>