<section class="livros">

    <section class="book">
        <h1 class="title">Nome do livro</h1>
        <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia dolorum
            beatae, ullam nobis animi dolor non, incidunt tenetur tempora. Tempore, magni. Soluta eius explicabo,
            suscipit veritatis libero est.</span>
        <div class="categoria">
            <span>Categoria</span>
            <span>R$50,00</span>
        </div>
        <div class="botoes">
            <button class="detalhes"><a href="view.handlebars">Ver Detalhes</a></button>
            <button class="editar"><a href="edit.handlebars">Editar</a></button>
            <button class="excluir"><a href="">Excluir</a></button>
        </div>
    </section>

    <section class="book">
        <h1 class="title">Nome do livro</h1>
        <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia dolorum
            beatae, ullam nobis animi dolor non, incidunt tenetur tempora. Tempore, magni. Soluta eius explicabo,
            suscipit veritatis libero est.</span>
        <div class="categoria">
            <span>Categoria</span>
            <span>R$50,00</span>
        </div>
        <div class="botoes">
            <button class="detalhes"><a href="view.handlebars">Ver Detalhes</a></button>
            <button class="editar"><a href="edit.handlebars">Editar</a></button>
            <button class="excluir"><a href="">Excluir</a></button>
        </div>
    </section>
    <section class="book">
        <h1 class="title">Nome do livro</h1>
        <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia dolorum
            beatae, ullam nobis animi dolor non, incidunt tenetur tempora. Tempore, magni. Soluta eius explicabo,
            suscipit veritatis libero est.</span>
        <div class="categoria">
            <span>Categoria</span>
            <span>R$50,00</span>
        </div>
        <div class="botoes">
            <button class="detalhes"><a href="view.handlebars">Ver Detalhes</a></button>
            <button class="editar"><a href="edit.handlebars">Editar</a></button>
            <button class="excluir"><a href="">Excluir</a></button>
        </div>
    </section>
    <section class="book">
        <h1 class="title">Nome do livro</h1>
        <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia dolorum
            beatae, ullam nobis animi dolor non, incidunt tenetur tempora. Tempore, magni. Soluta eius explicabo,
            suscipit veritatis libero est.</span>
        <div class="categoria">
            <span>Categoria</span>
            <span>R$50,00</span>
        </div>
        <div class="botoes">
            <button class="detalhes"><a href="view.handlebars">Ver Detalhes</a></button>
            <button class="editar"><a href="edit.handlebars">Editar</a></button>
            <button class="excluir"><a href="">Excluir</a></button>
        </div>
    </section>
    <section class="book">
        <h1 class="title">Nome do livro</h1>
        <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia dolorum
            beatae, ullam nobis animi dolor non, incidunt tenetur tempora. Tempore, magni. Soluta eius explicabo,
            suscipit veritatis libero est.</span>
        <div class="categoria">
            <span>Categoria</span>
            <span>R$50,00</span>
        </div>
        <div class="botoes">
            <button class="detalhes"><a href="view.handlebars">Ver Detalhes</a></button>
            <button class="editar"><a href="edit.handlebars">Editar</a></button>
            <button class="excluir"><a href="">Excluir</a></button>
        </div>
    </section>
    <section class="book">
        <h1 class="title">Nome do livro</h1>
        <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia dolorum
            beatae, ullam nobis animi dolor non, incidunt tenetur tempora. Tempore, magni. Soluta eius explicabo,
            suscipit veritatis libero est.</span>
        <div class="categoria">
            <span>Categoria</span>
            <span>R$50,00</span>
        </div>
        <div class="botoes">
            <button class="detalhes"><a href="view.handlebars">Ver Detalhes</a></button>
            <button class="editar"><a href="edit.handlebars">Editar</a></button>
            <button class="excluir"><a href="">Excluir</a></button>
        </div>
    </section>
</section>