<div class="container3">
    <h1 class="title2">NOME DO LIVRO</h1>
    <span class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat non aut voluptatibus sit
        blanditiis velit voluptate illum? Possimus voluptate tempora corporis ipsa, rem illo ea error voluptas, atque
        odio vero.</span>
    <span class="tituloCadastro">Categoria</span>
    <span class="font">Preço: R$50,00</span>
    <span class="font">Quantidade estoque: 60</span>

    <a class="voltar" href="/">Voltar</a>
</div>