<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="nav">
        <a class="link" href="/">Livros</a>
        <a class="link" href="../cadastrar.handlebars">Cadastrar</a>
      </nav>
    </header>

    <hr class="linha">

    {{{body}}}

    <hr class="linha2">

    <footer class="footer">
      <span>RODAPÉ</span>
    </footer>
  </div>
</body>
</html>